<h4>Client Edit</h4>
<hr>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" required>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" required>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <textarea class="form-control" formControlName="remarks" required></textarea>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <button class="btn btn-primary">Update</button> &nbsp;
            <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </div> 
</form>
