<h4>Cooks Create</h4>
<hr>
<form (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="newCook.firstName" name="firstName" placeholder="First Name" required>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="newCook.lastName" name="lastName" placeholder="Last Name" required>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label for="birtDate">Birth Date</label>
                <!-- <input type="date" class="form-control" [ngModel]="newCook.birthDate | date:'MM-dd-yyyy'" (ngModelChange)="newCook.birthDate=$event" name="birtDate" placeholder="Birth Date" required> -->
                <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"  autocomplete="off" class="form-control" [(ngModel)]="newCook.birthDate" name="birtDate" placeholder="Birth Date" required>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <textarea class="form-control" name="remarks" [(ngModel)]="newCook.remarks" required></textarea>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <button class="btn btn-primary">Save</button> &nbsp;
            <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </div> 
</form>

